@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .prose-container {
    @apply w-full max-w-full;
  }

  .prose-container pre {
    @apply w-full max-w-full overflow-x-auto;
  }

  .prose-container code {
    @apply whitespace-pre-wrap break-words;
  }
}

::selection {
  background-color: rgb(79 70 229);
  color: #ffffff;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background-color: var(--background);
}

::-webkit-scrollbar-thumb {
  width: 5px;
  border-radius: 5px;
  background-color: hsl(var(--muted)) !important;
}

/* * {
  cursor: none !important;
}

html,
body {
  scroll-behavior: smooth;
  cursor: none !important;
} */

img,
image {
  user-select: none;
  pointer-events: none;
}

a,
button,
input,
textarea,
select,
label,
option {
  /* cursor: none !important; */
}

.flare {
  position: fixed;
  border: 2px solid #ffffff2b;
  border-radius: 50%;
  mix-blend-mode: screen;
  pointer-events: none;
  transform: translate(-50%, -50%);
  z-index: 99999999 !important;
  backdrop-filter: blur(1px);
  background-color: #0000005e;
  transition: width 0.2s ease-in-out, height 0.2s ease-in-out;
  cursor: none !important;
}

@media screen and (max-width: 768px) {
  .flare {
    display: none;
    width: 0;
    height: 0;
    transition: width 0.2s ease-in-out, height 0.2s ease-in-out,
      opacity 0.2s ease-in-out;
  }
}

.flare.pointer {
  display: none;
  opacity: 0 !important;
  transition: width 0.2s ease-in-out, height 0.2s ease-in-out,
    opacity 0.2s ease-in-out;
}

.blob {
  filter: blur(40px);
  position: absolute;
  z-index: -1;
  top: 0;
  opacity: 0;
  left: 0;
  width: 250px;
  height: 250px;
  border-radius: 50%;
  background: rgb(255, 255, 255, 0.5);
  transition: all 300ms ease-in-out;
}

.fakeblob {
  display: none;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.card {
  overflow: hidden;
}

.inner {
  border-radius: 7px;
  backdrop-filter: blur(80px);
  transition: all 300ms ease-in-out;
}

.card:hover > .inner {
  background: rgb(26, 26, 26, 0.6);
  backdrop-filter: blur(80px);
}

/* Loader */
.loader {
  --uib-size: 45px;
  --uib-color: #000;
  --uib-speed: 1.75s;
  position: relative;
  height: var(--uib-size);
  width: var(--uib-size);
  animation: rotate calc(var(--uib-speed) * 4) linear infinite;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* 404 */
.custom-shadow {
  box-shadow: rgba(30 27 75) 5px 5px;
}

/* Wave hand */
.wave {
  animation-name: wave-animation;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
  transform-origin: 70% 70%;
  display: inline-block;
}

@keyframes wave-animation {
  0% {
    transform: rotate(0deg);
  }

  10% {
    transform: rotate(14deg);
  }

  20% {
    transform: rotate(-8deg);
  }

  30% {
    transform: rotate(14deg);
  }

  40% {
    transform: rotate(-4deg);
  }

  50% {
    transform: rotate(10deg);
  }

  60% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

/* Float animation hand */
@keyframes float {
  0% {
    transform: translateY(0px);
  }

  40% {
    transform: translateY(100px);
  }

  100% {
    transform: translateY(0px);
  }
}

.float-animation {
  animation: float 15s cubic-bezier(0.4, 0, 0.2, 1) infinite;
  /* 
    - 8s is the duration (adjust as needed)
    - cubic-bezier gives us the easing effect:
      - faster going down (0.4, 0)
      - slower coming up (0.2, 1)
    - infinite makes it loop forever
  */
}

.float2-animation {
  animation: float2 20s cubic-bezier(0.3, 0, 0.2, 1) infinite;
}

@keyframes float2 {
  0% {
    transform: translateY(0px);
  }

  40% {
    transform: translateY(-100px);
  }

  100% {
    transform: translateY(0px);
  }
}

/* Button */
.btn-primary {
  box-shadow: inset 0px 0px 8px 0px rgba(255, 255, 255, 0.28),
    rgba(67 56 202) 0px 0.48175px 2.40875px -0.833333px,
    rgba(67 56 202) 0px 1.83083px 9.15413px -1.66667px,
    rgba(67 56 202) 0px 8px 40px -2.5px,
    rgba(67 56 202) 0px -0.48175px 2.40875px -0.833333px,
    rgba(67 56 202) 0px -1.83083px 9.15413px -1.66667px,
    rgba(67 56 202) 0px -8px 40px -2.5px;
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 224 71.4% 4.1%;
    --card: 0 0% 100%;
    --card-foreground: 224 71.4% 4.1%;
    --popover: 0 0% 100%;
    --popover-foreground: 224 71.4% 4.1%;
    --primary: 262.1 83.3% 57.8%;
    --primary-foreground: 210 20% 98%;
    --secondary: 220 14.3% 95.9%;
    --secondary-foreground: 220.9 39.3% 11%;
    --muted: 220 14.3% 95.9%;
    --muted-foreground: 220 8.9% 46.1%;
    --accent: 220 14.3% 95.9%;
    --accent-foreground: 220.9 39.3% 11%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 20% 98%;
    --border: 220 13% 91%;
    --input: 220 13% 91%;
    --ring: 262.1 83.3% 57.8%;
    --radius: 0.5rem;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }

  .dark {
    --background: 224 71.4% 4.1%;
    --foreground: 210 20% 98%;
    --card: 224 71.4% 4.1%;
    --card-foreground: 210 20% 98%;
    --popover: 224 71.4% 4.1%;
    --popover-foreground: 210 20% 98%;
    --primary: 243.4 75.4% 58.6%;
    --primary-foreground: 210 20% 98%;
    --secondary: 215 27.9% 16.9%;
    --secondary-foreground: 210 20% 98%;
    --muted: 215 27.9% 16.9%;
    --muted-foreground: 217.9 10.6% 64.9%;
    --accent: 215 27.9% 16.9%;
    --accent-foreground: 210 20% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 20% 98%;
    --border: 215 27.9% 16.9%;
    --input: 215 27.9% 16.9%;
    --ring: 263.4 70% 50.4%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
